.projects {
  width: 95%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}
.banner {
  height: 50vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
}
.p_card {
  width: 18rem;
  background-color: aliceblue;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgb(164, 164, 164);
  color: black;
  b{
    color: green;
  }
}
.p_details {
  padding: 1rem 10px;
  margin: 1rem 5px;
  box-shadow: 1px 1px 5px rgb(191, 191, 191);
  background-color: #fff;
  border-radius: 3px;
}

.paralex div {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-1 {
  background-image: url("../Imgs/22.jpg");
  width: 100%;
  height: auto;
  color: white;
}
.bg-2 {
  background-image: url("../Imgs/12.jpg");
  width: 100%;
  height: auto;
}
.bg-2 {
  background-image: url("../Imgs/12.jpg");
  width: 100%;
  height: auto;
}
.bg-3 {
  background-image: url("../Imgs/13.jpg");
  width: 100%;
  height: auto;
  color: white;
  font-size: 1.5rem;
}
.bg-4 {
  background-image: url("../Imgs/14.jpg");
  width: 100%;
  height: 600px;
}
.resume {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: justify;
  gap: 2rem;
  // background-color: rgba(0, 0, 0, 0.611);
  font-size: 1.5rem;
}
.p_details {
  display: flex;
  padding: 10px 5px;
  div {
    padding: 10px 1rem;
    img {
      width: 100%;
    }
    ul li {
      font-size: 1.5rem;
      text-align: left;
      padding: 1rem 10px;
      border-bottom: 1px solid rgb(189, 189, 189);
      color: rgb(115, 115, 115);
      list-style: none;
      b{
        color: green;
      }
    }
  }
}
