//comman css...........................
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.main {
  text-align: center;
  min-height: 100vh;
}

input {
  padding: 15px;
  width: 100%;
  margin: 0.5rem 0px;
  border: none;
  outline: none;
  background-color: #fff;
  box-shadow: 1px 1px 1px rgb(200, 200, 200);
  border-radius: 5px;
}

.srisir {
  h1,
  h2,
  h3 {
    padding: 1rem 10px;
    border-bottom: 1px solid #000;
    margin: 1rem 0px;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 3rem;
  }
  ul li{
    padding: 1rem 10px;
    font-size: 1.3rem;
    margin: 1rem 0px;
    color: #fff;
  }
}

.btn {
  width: auto;
  padding: 15px 2rem;

  &:hover {
    background-color: rgb(194, 231, 252);
    cursor: pointer;
  }
}
button {
  padding: 10px 1rem;
  background-color: #fff;
  margin-top: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
}

body {
  background-color: rgb(255, 255, 255);
}

//navbar..........................
.nav_main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: rgb(246, 246, 246);
  border-bottom: 1px solid #000;
  padding: 0.5rem 0px;

  .logo a {
    font-size: 2rem;
    font-weight: 600;
  }

  .links a,
  .users a {
    padding: 10px 1rem;
  }
}

a {
  text-decoration: none;
}

//Footer.............................
.footer {
  height: 10rem;
  text-align: center;
  background-color: rgb(177, 232, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
.show {
  display: inline;
}
.hide {
  display: none;
}

.deskHidden,
[id^="btn"]:checked + div {
  display: block;
}
.about{
  height: 100vh;
}
